

body{
    font-family: "Kumbh Sans", sans-serif;
    display: grid;
    place-items: center ;
    position: relative;
    box-sizing: border-box;
    margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
#container{
    max-width: 1150px; 
}
header{
    position: relative;
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 100px;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    z-index: 999;
}
.logo img{
    padding-bottom: 40px;
}

.container-logo-menu{
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu{
    display: flex;
    gap: 40px;
}

.menu p{
    margin: 0px;
    padding-bottom: 40px;
    border-bottom: 3px solid white;
    cursor: pointer;
}
.menu p:hover{
    border-bottom: 3px solid hsl(26, 100%, 55%);
    font-weight: 500;
}

.container-cart-avatar{
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    gap: 40px;
}

.cart-container{
    position: relative;
    z-index: 10000;
    display: flex;
    justify-content: center;
}
.cart-item-view{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 380px;
    box-shadow: 0px 18px 20px 0px #aaaaaaa4;
    border-radius: 10px;
    background-color: white;
    top: 45px;
    display: none;
    opacity: 0;
    transition: opacity .88s;
    z-index: 999;
}
.cart-item-view.show{
    opacity: 1;
    display: flex;
    z-index: 999;
}
.cart-item-header{
    padding: 20px;
    font-weight: 700;
    border-bottom: 1px solid hsl(220, 14%, 75%);
}
.cart-item-placeholder{
    
    padding: 100px 120px;
    font-weight: 600;
    color: hsl(219, 9%, 45%);
    
}
.empty{
    width: 145px;
}
.hide{
    display: none;
}
.cart:hover img{
    cursor: pointer;
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(324deg) brightness(0%) contrast(105%);
}
.cart:hover .dynamic-quantity{
    box-shadow: 0px 0px 2px 2px hsla(26, 98%, 58%, 0.219);
}

.avatar img{
    width: 40px;
    border: 2px solid white;
    cursor: pointer;
}

.avatar img:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}
.container-product{
    display: flex;
    gap: 150px;
    padding: 90px 50px;
    align-items: center;
}
.product-images{
    position: relative;
    
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 460px;
}
.display-img{
    position: relative;
    
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    cursor: pointer;
}
.thumbnail-img{
    display: flex;
    gap: 30px;
    width: 100%;
    
    
}
.thumbnail-lightbox{
    max-width: 417px;
}

.thumbnail-img img{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 92px;
    border-radius: 10px;
    
}
.product-description{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 440px;
}
.brand-name{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: hsl(219, 9%, 45%);
    letter-spacing: .12rem;
    margin: 0;
}
h1{
    font-size: 44px;
    margin: 0;
    line-height: 1;
    
}
.brand-item-name-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.description{
    color: hsl(219, 9%, 45%);
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
}
h2{
    margin: 0px;
}
.price{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.discounted-price{
    display: flex;
    align-items: center;
    gap: 15px;
}
.current-price{
    font-size: 28px;
    font-weight: 700;
}
.discount-percentage{
    font: inherit;
    border: none;
    color: white;
    background-color: black;
    padding: 4px 10px;
    border-radius: 7px;
    font-weight: 600;
}
.original-price{
    text-decoration-line: line-through;
    color: hsl(219, 9%, 45%);
    font-weight: 700;
}

.quantity-button{
    display: flex;
    background-color: hsl(223, 64%, 98%);
    border-radius: 10px;
}
.minus, .plus{
    width: 52px;
}
.quantity-value{
    width: 20px;
    font: inherit;
    padding: 15px 15px;
    font-weight: 700;
    text-align: center;
}
.quantity-button button, input{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 15px 20px;
    background-color: hsl(223, 64%, 98%);
    border-radius: 20px;
    font-weight: 700;
    
}
.quantity-button button img:hover{
    filter: invert(74%) sepia(82%) saturate(380%) hue-rotate(5deg) brightness(100%) contrast(100%);
}
.addtocart-button:hover, .chkout-button:hover{
    background-color: #ffa35c;
}

.container-add-to-cart{
    display: flex;
    gap: 15px;
    height: 55px;
}
.addtocart-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font: inherit;
    font-weight: 600;
    border: none;
    background-color: hsl(26, 100%, 55%);
    width: 100%;
    min-width: 145px;
    gap: 15px;
    cursor: pointer;
}
.addtocart-button img{
    width: 17px;
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(324deg) brightness(0%) contrast(105%);
}
.img-container, .quantity-button button{
    cursor: pointer;
}

.img-container.active img, .img-container img:hover{
    opacity: 50%;
}
.active{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 13px;
}
.lightbox-container{
    position: relative;
    z-index: 20000;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    
}
.lightbox-container.show{
    display: flex;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000bd;
}
.lightbox{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    top: 6%;
    gap: 30px;
    width: 100%;
    max-width: 700px;
}
.lightbox .current-img .on-lightbox{
    position: relative;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    
}
.current-img-sync{
    transition: opacity 0.35s ease-in-out;
    opacity: 1;
}
.close-button{
    position: relative;
    left: 18rem;
    filter: invert(88%) sepia(7%) saturate(44%) hue-rotate(198deg) brightness(200%) contrast(100%);
    cursor: pointer;
    width: 19px;
    height: 20px;
}
.close-button:hover{
    filter: invert(60%) sepia(60%) saturate(3164%) hue-rotate(346deg) brightness(100%) contrast(103%);
}
.current-img.l{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.previous, .next{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.previous{
    position: relative;
    z-index: 999;
    left: 25px;
}
.next{
    position: relative;
    z-index: 999;
    right: 25px;
}
.previous img, .next img{
    max-width: 12px;
    
}
.current-img.l button img:hover{
    filter: invert(60%) sepia(60%) saturate(3164%) hue-rotate(346deg) brightness(100%) contrast(103%);
}

.item-in-cart-container{
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 25px;
}
.item-in-cart{
    display: flex;
    align-items: center;
    gap: 16px;
    color: hsl(219, 9%, 45%);
}
.item-cart-img{
    width: 50px;
    border-radius: 6px;
    
}
.cart-item-details{
    display: flex;
    flex-direction: column;
    width: 220px;
    gap: 8px;
}
.item-deets-container{
    display: flex;
    gap: 5px;
}
.item-total-price{
    font-weight: 700;
}
.chkout-button{
    font: inherit;
    width: 100%;
    background-color: hsl(26, 100%, 55%);
    border: none;
    border-radius: 10px;
    padding: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    cursor:  pointer;
}
.delete-item:hover{
    cursor: pointer;
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(324deg) brightness(0%) contrast(105%);
}

.mobile-menu-button{
    display: none;
}
.mobile-prev-next-button{
    display: none;
}
.mobile-menu-container{
        position: relative;
        display: none;
}

.dynamic-quantity{
    position: absolute;
    z-index: 30000;
    background-color: hsl(26, 100%, 55%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 0.9rem;
    top: -0.44rem;
    right: -0.42rem;
    color: white;
    font-size: 0.67rem;
    border-radius: 8px;
    cursor: pointer;
    display: none;
}
.dynamic-quantity.show{
    display: flex;
}
*{
    outline: 0px solid;
}
.attribution{
    margin-top: 100px;
}

@media (max-width: 962px){
    .container-product{
        gap: 90px;
    }
    .product-images{
        max-width: 400px;
    }
    
    .current-img.l{
        width: 100%;
        max-width: 550px;
    }
    .thumbnail-lightbox{
        
        max-width: 400px;
        gap: 15px;
    }
    .close-button{
        left: 16rem
    }   

@media (max-width: 768px){

    .container-product{
        gap: 45px;
    }
    h1{
        font-size: 2.3rem;
    }
    .description{
        font-size: 14px;
    }
    .thumbnail-img{
        gap: 15px;
    }
    .brand-name{
        font-size: 12px;
    }
    .menu, .container-cart-avatar{
        gap: 20px;
    }
    .product-description{
        gap: 20px;
    }
    .current-img.l{
        width: 100%;
        max-width: 525px;
    }
    
    .lightbox{
        width: 100%;
        max-width: 600px;
        top: 10%;
    }
    .thumbnail-lightbox{
        width: 100%;
        max-width: 350px;
    }
    .close-button{
        left: 15rem
    }  
    
}
@media (max-width: 620px){
    .container-product{
        flex-direction: column;
        padding: 30px 20px;
    }
    header{
        margin: 0px 15px;
    }
    .desktop-menu{
        display: none;
    }
    .mobile-menu-button{
        display: block;
        padding-bottom: 40px;
    }
    .mobile-menu-container.show{
        display: block;
    }
    .mobile-menu-items{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        top: 0;
        left: 0;
        z-index: 30000;
        background-color: white;
        padding: 20px;
        height: 100vh;
        padding-right: 150px;
        font-weight: 700;
    }
    .backdrop.b-m-menu{
        z-index: 999;
    }
    .current-img.l{
        width: 85%;
        max-width: 500px;
        padding: 30px;
    }
    
    
    .lightbox{
        width: 100%;
        max-width: 600px;
        top: 10%;
        
    }
    .thumbnail-lightbox{
        width: 100%;
        max-width: 325px;
    }
    .attribution{
        margin-top: 50px;
    }
    .product-images{
        gap: 15px;
    }
    
    .cart-item-view{
        z-index: 999;
        top: 60px;
        right: -55px;
        max-width: 355px;
    }
}

@media (max-width: 375px) {
    .attribution{
    margin-top: 100px;
    }
    h1{
        font-size: 1.9rem;
    }
    .cart-container{
        justify-content: flex-end;
    }
    
    .cart-item-placeholder{
        padding: 110px 115px;
    }
    .desktop-menu{
        display: none;
    }
    .mobile-menu-button{
        display: block;
        padding-bottom: 0px;
    }
    .container-logo-menu{
        gap: 15px;
    }
    .thumbnail-img{
        display: none;
    }
    .container-product{
        flex-direction: column;
        padding: 0;
        height: 100%;
        max-height: 1000px;
        gap: 25px;
    }
    header{
        position: fixed;
        height: 60px;
        width: 100%;
        max-width: 343px;
        background-color: white;
        padding: 0px 1rem;
        display: flex;
        align-items: center;
        margin: 0px;
        margin-bottom: 5px;
        border-bottom: 0px;
    }
    main{
        margin-top: 50px;
    }
    .avatar img{
        width: 25px;
    }
    .container-cart-avatar{
        padding: 0;
    }
    .logo img{
        padding: 0;
    }
    
    .product-description{
        max-width: 320px;
    }
    .price{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .container-add-to-cart{
        flex-direction: column;
    }
    .display-img{
        border-radius: 0px;
    }
    .prev-next{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        cursor: pointer;
    }
    .current-img{
        position: relative;
        display: flex;
        align-items: center;
        z-index: 900;
    }
    .prev-m{
        position: absolute;
        z-index: 950;
        left: 25px;
    }
    .next-m{
        position: absolute;
        z-index: 950;
        right: 25px;
    }
    .addtocart-button{
        padding: 18px;
        
    }
    .quantity-button button{
        padding: 18px 20px;
        width: 100%;
    }
    .quantity-button input{
        padding: 18px 15px;
    }
    .quantity-button .minus{ 
        justify-content: flex-start;
    }
    .quantity-button .plus{
        justify-content: flex-end;
    }
    .minus:hover img{
        filter: invert(74%) sepia(82%) saturate(380%) hue-rotate(5deg) brightness(100%) contrast(100%);
    }
    .plus:hover img{
        filter: invert(74%) sepia(82%) saturate(380%) hue-rotate(5deg) brightness(100%) contrast(100%);
    }
    .display-img{
        pointer-events: none;
    }
    
    .mobile-menu-container.show{
        display: block;
    }
    .mobile-menu-items{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        top: 0;
        left: 0;
        z-index: 30000;
        background-color: white;
        padding: 20px;
        height: 100vh;
        padding-right: 150px;
        font-weight: 700;
    }
    .mobile-menu p{
        margin: 18px 0px;
    }
    .backdrop.b-m-menu{
        z-index: 999;
    }
    .m-menu-close-button{
        cursor: pointer;
    }
    .prev-m img, .next-m img{
        width: 9px;
    }
    .brand-item-name-container{
        gap: 16px;
    }
}}